<?xml version="1.0" encoding="utf-8"?>
<!-- NUnitで実行する際の設定ファイルです。 -->
<configuration>
  <appSettings>
    <add key="DbConnectionString" value="Data Source=HOCC11; User ID=sa; Password=hoccadmin04; Persist Security Info=True;"/>
    <add key="DBPrefix" value="ClassLibraryTest.dbo."/>
    <add key="SqlCommandTimeout" value="600"/>
    <add key="LogOutput" value="False"/>
  </appSettings>
</configuration>