<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
		<!-- Sql Server Compactの接続文字列 -->
		<add key="DbCeConnectionString" value="Data Source = TestDb.sdf;Password=admin@04;Persist Security Info=True;"/>
		<!-- Sql Server Compactのタイムアウトはゼロ -->
		<add key="SqlCeCommandTimeout" value="0"/>
	</appSettings>
</configuration>