<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
 </configSections>
 <connectionStrings>
  <add name="DbCe.Properties.Settings.MascotClientDbConnectionString"
   connectionString="Data Source=|DataDirectory|\TestDb.sdf;Password=admin@04"
   providerName="Microsoft.SqlServerCe.Client.3.5" />
 </connectionStrings>
 <appSettings>
		<!-- Sql Server Compactの接続文字列 -->
		<add key="DbCeConnectionString" value="Data Source = TestDb.sdf;Password=admin@04;Persist Security Info=True;"/>
		<!-- Sql Server Compactのタイムアウトはゼロ -->
		<add key="SqlCeCommandTimeout" value="0"/>
	</appSettings>
</configuration>